/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/reports/tests/test/css/base-style.css
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/build/tmp/compileJava/source-classes-mapping.txt
/build/tmp/compileTestJava/source-classes-mapping.txt
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-SnailSortTest.xml
/.idea/misc.xml
/.idea/modules.xml
/build/test-results/test/binary/output.bin.idx
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/ru.pdl.html
/build/reports/tests/test/classes/SnailSortTest.html
/settings.gradle
/build/reports/tests/test/index.html
/.idea/jarRepositories.xml
/.gradle/6.7/javaCompile/javaCompile.lock
/gradlew.bat
/gradlew
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/modules/test-with-gradle.iml
/.idea/vcs.xml
/.idea/.gitignore
*.class
*.bin
build/*
